@use '../../1-base/_colors'
@use '../placeHolders/_placeHoldersDashBoard'
@import '../mixins/_mixinsDashBoard'

.dark-chart-income-and-expense
  @extend %display-generic
  @include chart-income-expense-generic($color: colors.$primary-dark)
  &-title
    @include chart-income-expense-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))
  &-container
    @extend %display-generic
    justify-content: space-evenly
    margin-bottom: 1rem
    width: 80%
  &-income
    @extend %display-generic
    flex-direction: column
    &-text
      @include chart-income-expense-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))
    &-div
      @extend %display-generic
      p
        margin-left: .5rem

  &-expense
    @extend %display-generic
    flex-direction: column
    &-text
      @include chart-income-expense-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))
    &-div
      @extend %display-generic
      p
        margin-left: .5rem

  #reactgooglegraph-2
    text
      fill: colors.$text-color-primary-dark

.light-chart-income-and-expense
  @extend %display-generic
  @include chart-income-expense-generic($color: colors.$background-color-table)
  &-title
    @include chart-income-expense-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
  &-container
    @extend %display-generic
    justify-content: space-evenly
    margin-bottom: 1rem
    width: 80%
  &-income
    @extend %display-generic
    flex-direction: column
    &-text
      @include chart-income-expense-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
    &-div
      @extend %display-generic
      p
        margin-left: .5rem

  &-expense
    @extend %display-generic
    flex-direction: column
    &-text
      @include chart-income-expense-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
    &-div
      @extend %display-generic
      p
        margin-left: .5rem
