@use '../../1-base/_colors'
@use '../placeHolders/_placeHoldersDashBoard'
@import '../mixins/_mixinsDashBoard'
@import '../../1-base/mixins/_typesDisplay'

.last-transations-card
  @extend %display-generic
  text-align: center
  border: 1px solid transparent
  width: 100%
  justify-content: space-evenly
  &:hover
    border-bottom: 1px solid colors.$text-color-secondary-dark
    cursor: pointer
    color: #bdbdbd
  p
    margin-left: 1rem
    width: 20%
    padding: .5rem
    @include display-1680
      width: 15%
    @include display-1440
      width: 12%
      margin-left: .5rem
    @include display-900
      width: 18%
      margin-left: .1rem
    
  .last-transations-card-description
    width: 40%
    @include display-1680
      width: 38%
    @include display-1440
      width: 35%
    @include display-900
      width: 30%

.dark-last-transations
  @extend %display-generic
  @include transations-generic($color: colors.$primary-dark)
  &-title
    @include transations-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))
  &-list
    width: 100%

.light-last-transations
  @extend %display-generic
  @include transations-generic($color: colors.$background-color-table)
  &-title
    @include transations-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
  &-list
    width: 100%
  @extend %style-details
