@use '../../1-base/_colors'
@use '../placeHolders/_placeHoldersDashBoard'
@import '../mixins/_mixinsDashBoard'
@import '../../1-base/mixins/_typesDisplay'

.last-objectives-card
  @extend %display-generic
  flex-direction: column
  font-weight: bold
  text-align: center
  width: 100%
  margin: 1rem
  &-text
    text-align: start
    width: 100%
    p
      margin-bottom: .2rem
  &-percentage
    color: #26c6da

.dark-last-objective
  @extend %display-generic
  @include objectives-generic($color: colors.$primary-dark)
  &-title
    @include objectives-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))
  &-list
    width: 100%

.light-last-objective
  @extend %display-generic
  @include objectives-generic($color: colors.$background-color-table)
  &-title
    @include objectives-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
  &-list
    width: 100%
  @extend %style-details
