@use '../../1-base/_colors'
@use '../placeHolders/_placeHoldersDashBoard'
@import '../mixins/_mixinsDashBoard'

.last-transations-card
  @extend %display-generic
  text-align: center
  border: 1px solid transparent
  &:hover
    border-bottom: 1px solid colors.$text-color-secondary-dark
    cursor: pointer
    color: #bdbdbd
  p
    margin-left: 1rem
    width: 3.5rem
    padding: .5rem
  .last-transations-card-description
    width: 13.5rem

.dark-last-transations
  @extend %display-generic
  @include transations-generic($color: colors.$primary-dark)
  &-title
    @include transations-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))

.light-last-transations
  @extend %display-generic
  @include transations-generic($color: colors.$background-color-table)
  &-title
    @include transations-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
  @extend %style-details
