@use '../../1-base/_colors'
@use '../placeHolders/_placeHoldersDashBoard'
@import '../mixins/_mixinsDashBoard'
@import '../../1-base/mixins/_typesDisplay'

.last-categories-card
  @extend %display-generic
  text-align: center
  margin: 1rem 0
  width: 15vw
  @include display-1340
    width: 30vw
  @include small_tablet
    width: 65vw
  &-text
    margin-left: 1rem

.dark-last-categories
  @extend %display-generic
  @include categories-generic($color: colors.$primary-dark)
  &-title
    @include categories-generic-title($color: colors.$text-color-secondary-dark, $textShadow: rgba(0,0,0,1))

.light-last-categories
  @extend %display-generic
  @include categories-generic($color: colors.$background-color-table)
  &-title
    @include categories-generic-title($color: colors.$text-color-primary, $textShadow: rgba(0,0,0,.2))
  @extend %style-details