.loading-skeleton
  min-height: 90vh
  width: 90vw
  display: flex
  align-items: center
  justify-content: space-evenly
  flex-direction: column
  &-div
    display: flex
    align-items: center
    justify-content: space-evenly
    width: 100%
