.sidebar-form-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-label-inpunt-file {
  background-color: transparent;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem;
}
.sidebar-label-inpunt-file:hover {
  color: black;
  text-decoration: underline;
  transition: 0.5s;
}

html {
  font-size: 14px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --progress-objective-realized-one: 0;
  --progress-objective-realized-two: 0;
  --progress-objective-realized-three: 0;
  --progress-objective-realized-four: 0;
  --progress-objective-realized-five: 0;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-one::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-one) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-one) * 1.2), 80%, 50%);
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-two) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-two) * 1.2), 80%, 50%);
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-three) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-three) * 1.2), 80%, 50%);
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-four) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-four) * 1.2), 80%, 50%);
}

.chart-four::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-five) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-five) * 1.2), 80%, 50%);
}

.dashboard-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 85vh;
}

.link-details {
  color: #4B5367;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.link-details:hover {
  color: #F0F5FF;
}

.dark-theme {
  color: #F0F5FF;
  padding: 1rem;
}
.dark-theme-title {
  color: #4B5367;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.light-theme {
  color: #000;
  padding: 1rem;
}
.light-theme-title {
  color: #212121;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.dark-chart-income-and-expense, .dark-chart-income-and-expense-container, .dark-chart-income-and-expense-income, .dark-chart-income-and-expense-income-div, .dark-chart-income-and-expense-expense, .dark-chart-income-and-expense-expense-div, .light-chart-income-and-expense, .light-chart-income-and-expense-container, .light-chart-income-and-expense-income, .light-chart-income-and-expense-income-div, .light-chart-income-and-expense-expense, .light-chart-income-and-expense-expense-div, .dark-chart-distribution, .light-chart-distribution, .last-categories-card, .dark-last-categories, .light-last-categories, .last-objectives-card, .dark-last-objective, .light-last-objective, .last-transations-card, .dark-last-transations, .light-last-transations {
  align-items: center;
  display: flex;
  justify-content: center;
}

.light-last-categories .link-details, .light-last-objective .link-details, .light-last-transations .link-details {
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.light-last-categories .link-details:hover, .light-last-objective .link-details:hover, .light-last-transations .link-details:hover {
  color: #CC2B9F;
}
.light-last-categories .last-transations-card:hover, .light-last-objective .last-transations-card:hover, .light-last-transations .last-transations-card:hover {
  color: #CC2B9F;
}

.last-transations-card {
  text-align: center;
  border: 1px solid transparent;
}
.last-transations-card:hover {
  border-bottom: 1px solid #4B5367;
  cursor: pointer;
  color: #bdbdbd;
}
.last-transations-card p {
  margin-left: 1rem;
  width: 3.5rem;
  padding: 0.5rem;
}
.last-transations-card .last-transations-card-description {
  width: 13.5rem;
}

.dark-last-transations {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 30rem;
  background-color: #1F2941;
}
.dark-last-transations-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #4B5367;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.light-last-transations {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 30rem;
  background-color: #fce4ec;
}
.light-last-transations-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.last-objectives-card {
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  width: 30rem;
  margim: 1rem;
}
.last-objectives-card-text {
  text-align: start;
  width: 100%;
}
.last-objectives-card-text p {
  margin-bottom: 0.3rem;
}
.last-objectives-card-percentage {
  color: #26c6da;
  font-size: 1.1rem;
}

.dark-last-objective {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
}
.dark-last-objective-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.light-last-objective {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
}
.light-last-objective-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.last-categories-card {
  text-align: center;
  margin: 1rem;
  width: 20rem;
}
.last-categories-card-text {
  margin-left: 1rem;
}

.dark-last-categories {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
}
.dark-last-categories-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.light-last-categories {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
}
.light-last-categories-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-chart-distribution {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 30rem;
}
.dark-chart-distribution .chart-distribution-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-distribution #reactgooglegraph-1 text {
  fill: #F0F5FF;
}

.light-chart-distribution {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 30rem;
}
.light-chart-distribution .chart-distribution-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-chart-income-and-expense {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 30rem;
}
.dark-chart-income-and-expense-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-container {
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 80%;
}
.dark-chart-income-and-expense-income {
  flex-direction: column;
}
.dark-chart-income-and-expense-income-text {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-income-div p {
  margin-left: 0.5rem;
}
.dark-chart-income-and-expense-expense {
  flex-direction: column;
}
.dark-chart-income-and-expense-expense-text {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-expense-div p {
  margin-left: 0.5rem;
}
.dark-chart-income-and-expense #reactgooglegraph-2 text {
  fill: #F0F5FF;
}

.light-chart-income-and-expense {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 30rem;
}
.light-chart-income-and-expense-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-container {
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 80%;
}
.light-chart-income-and-expense-income {
  flex-direction: column;
}
.light-chart-income-and-expense-income-text {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-income-div p {
  margin-left: 0.5rem;
}
.light-chart-income-and-expense-expense {
  flex-direction: column;
}
.light-chart-income-and-expense-expense-text {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-expense-div p {
  margin-left: 0.5rem;
}

/*# sourceMappingURL=app.css.map */
