.sidebar-form-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-label-inpunt-file {
  background-color: transparent;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem;
}
.sidebar-label-inpunt-file:hover {
  color: black;
  text-decoration: underline;
  transition: 0.5s;
}

html {
  font-size: 14px;
  background-color: black;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --progress-objective-realized-one: 0;
  --progress-objective-realized-two: 0;
  --progress-objective-realized-three: 0;
  --progress-objective-realized-four: 0;
  --progress-objective-realized-five: 0;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-one::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-one) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-one) * 1.2), 80%, 50%);
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.chart-one::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-two) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-two) * 1.2), 80%, 50%);
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
}

.chart-two::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-three) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-three) * 1.2), 80%, 50%);
}

.chart-three::before {
  border-radius: 20px;
}

.chart-three::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
}

.chart-four::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-four) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-four) * 1.2), 80%, 50%);
}

.chart-four::before {
  border-radius: 20px;
}

.objective-card-chart {
  border-radius: 20px;
  display: flex;
  height: 1.5rem;
  padding: 0.1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  background-color: #fff;
  width: 100%;
}
.objective-card-chart::before {
  content: "";
  transition: all 0.2s ease;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
}

.chart-five::before {
  border-radius: 20px;
  width: calc(var(--progress-objective-realized-five) * 1%);
  background-color: hsl(calc(var(--progress-objective-realized-five) * 1.2), 80%, 50%);
}

.dark-chart-objectives-realized, .light-chart-objectives-realized, .dark-chart-income-and-expense, .dark-chart-income-and-expense-container, .dark-chart-income-and-expense-income, .dark-chart-income-and-expense-income-div, .dark-chart-income-and-expense-expense, .dark-chart-income-and-expense-expense-div, .light-chart-income-and-expense, .light-chart-income-and-expense-container, .light-chart-income-and-expense-income, .light-chart-income-and-expense-income-div, .light-chart-income-and-expense-expense, .light-chart-income-and-expense-expense-div, .dark-chart-distribution, .light-chart-distribution, .last-categories-card, .dark-last-categories, .light-last-categories, .last-objectives-card, .dark-last-objective, .light-last-objective, .last-transations-card, .dark-last-transations, .light-last-transations, .dark-theme, .light-theme {
  align-items: center;
  display: flex;
  justify-content: center;
}

.light-last-categories .link-details, .light-last-objective .link-details, .light-last-transations .link-details {
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.light-last-categories .link-details:hover, .light-last-objective .link-details:hover, .light-last-transations .link-details:hover {
  color: #CC2B9F;
}
.light-last-categories .last-transations-card:hover, .light-last-objective .last-transations-card:hover, .light-last-transations .last-transations-card:hover {
  color: #CC2B9F;
}

.dashboard-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media (max-width: 1340px) {
  .dashboard-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}

.link-details {
  color: #4B5367;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.link-details:hover {
  color: #F0F5FF;
}

.dark-theme {
  color: #F0F5FF;
  padding: 0 1rem;
  height: 90vh;
}
@media (max-width: 1340px) {
  .dark-theme {
    height: auto;
  }
}
.dark-theme-title {
  align-items: center;
  color: #4B5367;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  height: 10vh;
  margin-left: 1rem;
  text-shadow: 1px 1px 1px #000;
}

.light-theme {
  color: #000;
  padding: 0 1rem;
  height: 90vh;
}
@media (max-width: 1340px) {
  .light-theme {
    height: auto;
  }
}
.light-theme-title {
  align-items: center;
  color: #212121;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  height: 10vh;
  margin-left: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.last-transations-card {
  text-align: center;
  border: 1px solid transparent;
  width: 100%;
  justify-content: space-evenly;
}
.last-transations-card:hover {
  border-bottom: 1px solid #4B5367;
  cursor: pointer;
  color: #bdbdbd;
}
.last-transations-card p {
  margin-left: 1rem;
  width: 20%;
  padding: 0.5rem;
}
@media (max-width: 1680px) {
  .last-transations-card p {
    width: 15%;
  }
}
@media (max-width: 1440px) {
  .last-transations-card p {
    width: 12%;
    margin-left: 0.5rem;
  }
}
@media (max-width: 991px) {
  .last-transations-card p {
    width: 18%;
    margin-left: 0.1rem;
  }
}
.last-transations-card .last-transations-card-description {
  width: 40%;
}
@media (max-width: 1680px) {
  .last-transations-card .last-transations-card-description {
    width: 38%;
  }
}
@media (max-width: 1440px) {
  .last-transations-card .last-transations-card-description {
    width: 35%;
  }
}
@media (max-width: 991px) {
  .last-transations-card .last-transations-card-description {
    width: 30%;
  }
}

.dark-last-transations {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 25vw;
  background-color: #1F2941;
}
@media (max-width: 1440px) {
  .dark-last-transations {
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
  }
}
@media (max-width: 1340px) {
  .dark-last-transations {
    width: 50vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .dark-last-transations {
    width: 85vw;
    padding: 1rem;
    margin: 1rem 0;
  }
}
.dark-last-transations-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #4B5367;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-last-transations-list {
  width: 100%;
}

.light-last-transations {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 25vw;
  background-color: #fce4ec;
}
@media (max-width: 1440px) {
  .light-last-transations {
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
  }
}
@media (max-width: 1340px) {
  .light-last-transations {
    width: 50vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .light-last-transations {
    width: 85vw;
    padding: 1rem;
    margin: 1rem 0;
  }
}
.light-last-transations-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-last-transations-list {
  width: 100%;
}

.last-objectives-card {
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margim: 1rem;
}
.last-objectives-card-text {
  text-align: start;
  width: 100%;
}
.last-objectives-card-text p {
  margin-bottom: 0.2rem;
}
.last-objectives-card-percentage {
  color: #26c6da;
}

.dark-last-objective {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 28vw;
}
@media (max-width: 1680px) {
  .dark-last-objective {
    width: 25vw;
  }
}
@media (max-width: 1440px) {
  .dark-last-objective {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .dark-last-objective {
    margin: 1rem;
    width: 40vw;
  }
}
@media (max-width: 991px) {
  .dark-last-objective {
    margin: 1rem 0;
    width: 85vw;
  }
}
.dark-last-objective-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-last-objective-list {
  width: 100%;
}

.light-last-objective {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 28vw;
}
@media (max-width: 1680px) {
  .light-last-objective {
    width: 25vw;
  }
}
@media (max-width: 1440px) {
  .light-last-objective {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .light-last-objective {
    margin: 1rem;
    width: 40vw;
  }
}
@media (max-width: 991px) {
  .light-last-objective {
    margin: 1rem 0;
    width: 85vw;
  }
}
.light-last-objective-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-last-objective-list {
  width: 100%;
}

.last-categories-card {
  text-align: center;
  margin: 1rem 0;
  width: 15vw;
}
@media (max-width: 1340px) {
  .last-categories-card {
    width: 30vw;
  }
}
@media (max-width: 991px) {
  .last-categories-card {
    width: 65vw;
  }
}
.last-categories-card-text {
  margin-left: 1rem;
}

.dark-last-categories {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
}
@media (max-width: 1440px) {
  .dark-last-categories {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .dark-last-categories {
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .dark-last-categories {
    margin: 1rem 0;
  }
}
.dark-last-categories-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.light-last-categories {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
}
@media (max-width: 1440px) {
  .light-last-categories {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .light-last-categories {
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .light-last-categories {
    margin: 1rem 0;
  }
}
.light-last-categories-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-chart-distribution {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 25vw;
}
@media (max-width: 1440px) {
  .dark-chart-distribution {
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
  }
}
@media (max-width: 1340px) {
  .dark-chart-distribution {
    width: 50vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .dark-chart-distribution {
    width: 85vw;
    padding: 1rem;
    margin: 1rem 0;
  }
}
.dark-chart-distribution .chart-distribution-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-distribution #reactgooglegraph-1 text {
  fill: #F0F5FF;
}

.light-chart-distribution {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 25vw;
}
@media (max-width: 1440px) {
  .light-chart-distribution {
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
  }
}
@media (max-width: 1340px) {
  .light-chart-distribution {
    width: 50vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .light-chart-distribution {
    width: 85vw;
    padding: 1rem;
    margin: 1rem 0;
  }
}
.light-chart-distribution .chart-distribution-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-chart-income-and-expense {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #1F2941;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 28vw;
}
@media (max-width: 1680px) {
  .dark-chart-income-and-expense {
    width: 25vw;
  }
}
@media (max-width: 1440px) {
  .dark-chart-income-and-expense {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .dark-chart-income-and-expense {
    width: 40vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .dark-chart-income-and-expense {
    width: 85vw;
    margin: 1rem 0;
  }
}
.dark-chart-income-and-expense-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-container {
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 80%;
}
.dark-chart-income-and-expense-income {
  flex-direction: column;
}
.dark-chart-income-and-expense-income-text {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-income-div p {
  margin-left: 0.5rem;
}
.dark-chart-income-and-expense-expense {
  flex-direction: column;
}
.dark-chart-income-and-expense-expense-text {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-income-and-expense-expense-div p {
  margin-left: 0.5rem;
}
.dark-chart-income-and-expense #reactgooglegraph-2 text {
  fill: #F0F5FF;
}

.light-chart-income-and-expense {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #fce4ec;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  width: 28vw;
}
@media (max-width: 1680px) {
  .light-chart-income-and-expense {
    width: 25vw;
  }
}
@media (max-width: 1440px) {
  .light-chart-income-and-expense {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .light-chart-income-and-expense {
    width: 40vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .light-chart-income-and-expense {
    width: 85vw;
    margin: 1rem 0;
  }
}
.light-chart-income-and-expense-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-container {
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 80%;
}
.light-chart-income-and-expense-income {
  flex-direction: column;
}
.light-chart-income-and-expense-income-text {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-income-div p {
  margin-left: 0.5rem;
}
.light-chart-income-and-expense-expense {
  flex-direction: column;
}
.light-chart-income-and-expense-expense-text {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.light-chart-income-and-expense-expense-div p {
  margin-left: 0.5rem;
}

.dark-chart-objectives-realized {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #1F2941;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 15vw;
}
@media (max-width: 1440px) {
  .dark-chart-objectives-realized {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .dark-chart-objectives-realized {
    width: 30vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .dark-chart-objectives-realized {
    width: 65vw;
    margin: 1rem 0;
  }
}
.dark-chart-objectives-realized .chart-objectives-realized-title {
  color: #4B5367;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.dark-chart-objectives-realized #reactgooglegraph-1 text {
  fill: #F0F5FF;
}

.light-chart-objectives-realized {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #fce4ec;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 15vw;
}
@media (max-width: 1440px) {
  .light-chart-objectives-realized {
    padding: 1rem;
    margin: 0.5rem;
  }
}
@media (max-width: 1340px) {
  .light-chart-objectives-realized {
    width: 30vw;
    margin: 1rem;
  }
}
@media (max-width: 991px) {
  .light-chart-objectives-realized {
    width: 65vw;
    margin: 1rem 0;
  }
}
.light-chart-objectives-realized .chart-objectives-realized-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-sidebar-display-mobile {
  align-items: center;
  background-color: #4B5367;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 7vh;
}

.dark-theme-title-top-bar {
  color: #F0F5FF;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.light-sidebar-display-mobile {
  align-items: center;
  background-color: #EF54C5;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 7vh;
}

.light-theme-title-top-bar {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.dark-theme-objectives, .dark-theme-objectives-new-button, .dark-theme-objectives-list, .light-theme-objectives, .light-theme-objectives-new-button, .light-theme-objectives-list, .button-check-form, .dark-theme-transations-card, .dark-theme-transations-card-id-type, .dark-theme-transations-card-buttons, .light-theme-transations-card, .light-theme-transations-card-id-type, .light-theme-transations-card-buttons, .dark-theme-transations, .dark-theme-transations-new-button, .dark-theme-transations-list, .light-theme-transations, .light-theme-transations-new-button, .light-theme-transations-list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-check-form, .light-theme-transations-list, .light-theme-transations-new-button, .light-theme-transations, .dark-theme-transations-list, .dark-theme-transations-new-button, .dark-theme-transations {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dark-theme-transations {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .dark-theme-transations {
    min-height: 93vh;
  }
}
.dark-theme-transations-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .dark-theme-transations-filter {
    padding-top: 2rem;
  }
}
.dark-theme-transations-new-button {
  flex-direction: column;
}
.dark-theme-transations-list {
  flex-wrap: wrap;
}

.light-theme-transations {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .light-theme-transations {
    min-height: 93vh;
  }
}
.light-theme-transations-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .light-theme-transations-filter {
    padding-top: 2rem;
  }
}
.light-theme-transations-new-button {
  flex-direction: column;
}
.light-theme-transations-list {
  flex-wrap: wrap;
}

.form-transation {
  margin-top: 1rem;
}

.button-check-form {
  justify-content: space-evenly;
  margin-top: 1rem;
}

.light-theme-transations-card-buttons, .light-theme-transations-card-id-type, .light-theme-transations-card, .dark-theme-transations-card-buttons, .dark-theme-transations-card-id-type, .dark-theme-transations-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.class-equal-card {
  width: 100%;
}

.dark-theme-transations-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #B0BEC5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 27vh;
  width: 15vw;
  min-width: 250px;
  margin: 1rem;
}
.dark-theme-transations-card-id-type {
  justify-content: space-between;
  font-weight: bold;
  padding-top: 1rem;
}
.dark-theme-transations-card-type {
  padding-left: 0.4rem;
}
.dark-theme-transations-card-value {
  font-size: 1.2rem;
  font-weight: bold;
}
.dark-theme-transations-card-description {
  padding: 0 0.5rem;
}
.dark-theme-transations-card-buttons {
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.light-theme-transations-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #FCE4EC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 27vh;
  width: 15vw;
  min-width: 250px;
  margin: 1rem;
}
.light-theme-transations-card-id-type {
  justify-content: space-between;
  font-weight: bold;
  padding-top: 1rem;
}
.light-theme-transations-card-type {
  padding-left: 0.4rem;
}
.light-theme-transations-card-value {
  font-size: 1.2rem;
  font-weight: bold;
}
.light-theme-transations-card-description {
  padding: 0 0.5rem;
}
.light-theme-transations-card-buttons {
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.button-check-form, .light-theme-objectives-list, .light-theme-objectives-new-button, .light-theme-objectives, .dark-theme-objectives-list, .dark-theme-objectives-new-button, .dark-theme-objectives {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dark-theme-objectives {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .dark-theme-objectives {
    min-height: 93vh;
  }
}
.dark-theme-objectives-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .dark-theme-objectives-filter {
    padding-top: 2rem;
  }
}
.dark-theme-objectives-new-button {
  flex-direction: column;
}
.dark-theme-objectives-list {
  flex-wrap: wrap;
}

.light-theme-objectives {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .light-theme-objectives {
    min-height: 93vh;
  }
}
.light-theme-objectives-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .light-theme-objectives-filter {
    padding-top: 2rem;
  }
}
.light-theme-objectives-new-button {
  flex-direction: column;
}
.light-theme-objectives-list {
  flex-wrap: wrap;
}

.form-transation {
  margin-top: 1rem;
}

.button-check-form {
  justify-content: space-evenly;
  margin-top: 1rem;
}

.dark-theme-objectives-card, .dark-theme-objectives-card-id-name, .dark-theme-objectives-card-percentage-chart, .dark-theme-objectives-card-buttons, .light-theme-objectives-card, .light-theme-objectives-card-id-name, .light-theme-objectives-card-percentage-chart, .light-theme-objectives-card-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.light-theme-objectives-card-buttons, .light-theme-objectives-card-percentage-chart, .light-theme-objectives-card-id-name, .light-theme-objectives-card, .dark-theme-objectives-card-buttons, .dark-theme-objectives-card-percentage-chart, .dark-theme-objectives-card-id-name, .dark-theme-objectives-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.class-equal-card {
  width: 100%;
}

.card-space {
  padding: 0.3rem 0;
}

.dark-theme-objectives-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #B0BEC5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 33vh;
  width: 35vw;
  min-width: 250px;
  margin: 1rem;
}
.dark-theme-objectives-card-id-name {
  justify-content: space-between;
  font-weight: bold;
  padding-top: 1rem;
  width: 85%;
}
.dark-theme-objectives-card-value {
  font-size: 1.2rem;
  font-weight: bold;
}
.dark-theme-objectives-card-percentage-chart {
  flex-direction: column;
  width: 95%;
  margin-top: 1rem;
}
.dark-theme-objectives-card-chart {
  width: 95%;
}
.dark-theme-objectives-card-percentage {
  width: 20%;
  font-weight: bold;
  font-size: 1.1rem;
}
@media (max-width: 991px) {
  .dark-theme-objectives-card-percentage {
    font-size: 0.9rem;
  }
}
.dark-theme-objectives-card-buttons {
  background-color: #4B5367;
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.light-theme-objectives-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #FCE4EC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 33vh;
  width: 35vw;
  min-width: 250px;
  margin: 1rem;
}
.light-theme-objectives-card-id-name {
  justify-content: space-between;
  font-weight: bold;
  padding-top: 1rem;
  width: 85%;
}
.light-theme-objectives-card-value {
  font-size: 1.2rem;
  font-weight: bold;
}
.light-theme-objectives-card-percentage-chart {
  flex-direction: column;
  width: 95%;
  margin-top: 1rem;
}
.light-theme-objectives-card-chart {
  width: 95%;
}
.light-theme-objectives-card-percentage {
  width: 20%;
  font-weight: bold;
  font-size: 1.1rem;
}
@media (max-width: 991px) {
  .light-theme-objectives-card-percentage {
    font-size: 0.9rem;
  }
}
.light-theme-objectives-card-buttons {
  background-color: #EF54C5;
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.dark-theme-categories-card, .dark-theme-categories-card-id, .dark-theme-categories-card-buttons, .light-theme-categories-card, .light-theme-categories-card-id, .light-theme-categories-card-buttons, .dark-theme-categories, .dark-theme-categories-new-button, .dark-theme-categories-list, .light-theme-categories, .light-theme-categories-new-button, .light-theme-categories-list, .button-check-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-check-form, .light-theme-categories-list, .light-theme-categories-new-button, .light-theme-categories, .dark-theme-categories-list, .dark-theme-categories-new-button, .dark-theme-categories {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dark-theme-categories {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .dark-theme-categories {
    min-height: 93vh;
  }
}
.dark-theme-categories-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .dark-theme-categories-filter {
    padding-top: 2rem;
  }
}
.dark-theme-categories-new-button {
  flex-direction: column;
}
.dark-theme-categories-list {
  flex-wrap: wrap;
}

.light-theme-categories {
  justify-content: start;
  flex-direction: column;
  min-height: 90vh;
}
@media (max-width: 1199px) {
  .light-theme-categories {
    min-height: 93vh;
  }
}
.light-theme-categories-filter {
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .light-theme-categories-filter {
    padding-top: 2rem;
  }
}
.light-theme-categories-new-button {
  flex-direction: column;
}
.light-theme-categories-list {
  flex-wrap: wrap;
}

.form-categories {
  margin-top: 1rem;
}

.button-check-form {
  justify-content: space-evenly;
  margin-top: 1rem;
}

.light-theme-categories-card-buttons, .light-theme-categories-card-id, .light-theme-categories-card, .dark-theme-categories-card-buttons, .dark-theme-categories-card-id, .dark-theme-categories-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.class-equal-card {
  width: 100%;
}

.customize-icon {
  transform: scale(3);
}

.dark-theme-categories-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #B0BEC5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 30vh;
  width: 20vw;
  min-width: 250px;
  min-height: 250px;
  margin: 1rem;
}
.dark-theme-categories-card-id {
  font-weight: bold;
  padding-top: 1rem;
}
.dark-theme-categories-card-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.dark-theme-categories-card-buttons {
  background-color: #4B5367;
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.light-theme-categories-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background: #FCE4EC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 30vh;
  width: 20vw;
  min-width: 250px;
  min-height: 250px;
  margin: 1rem;
}
.light-theme-categories-card-id {
  font-weight: bold;
  padding-top: 1rem;
}
.light-theme-categories-card-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.light-theme-categories-card-buttons {
  background-color: #EF54C5;
  justify-content: space-evenly;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 20%;
  width: 100%;
}

.loading-skeleton {
  min-height: 90vh;
  width: 90vw;
  display: flex;
  align-items: center;
}
.loading-skeleton-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
}
.loading-skeleton-li {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
@media (max-width: 1199px) {
  .loading-skeleton-li {
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
